<div class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">
  {{ $image:= .Params.image }}
  {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "mx-auto mb-6 mt-8 rounded w-5/6" "size" "120x120") }}
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h4>
  <p class="mb-4">
    {{ .Content }}
  </p>
  <ul class="social-icons">
    {{ range .Params.social }}
    <li class="mt-6">
      <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
        <span class="sr-only">{{ .title }}</span>
        <i class="{{ .icon }}"></i>
      </a>
    </li>
    {{ end }}
  </ul>
</div>